<!DOCTYPE html>
<html>
<head>
<script>
    MessengerExtensions.getUserID(function success(uids) {
    // User ID was successfully obtained. 
        var psid = uids.psid;
  
    }, function error(err, errorMessage) {      
    // Error handling code
    });    
</script>
    
    <title></title>
    <style type="text/css">
        form#ios input[type=password]{
        height: 50px;
        width: 40px;
        text-align: center;
        font-size: 2em;
        border: 1px solid #000;
    } 
    </style>
</head>
<body>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>    
<center>
    <form id="ios">
        <input type="password" maxlength="1" />
        <input type="password" maxlength="1"/>
        <input type="password" maxlength="1"/>
        <input type="password" maxlength="1"/>
    </form>  
</center>
</body>
</html>